# Base de datos
DATABASE_URL=postgresql://admin:password123@localhost:5432/voting_system
MONGODB_URL=mongodb://admin:password123@localhost:27017/voting_system
REDIS_URL=redis://localhost:6379
ELASTICSEARCH_URL=http://localhost:9200

# JWT
JWT_SECRET=tu-super-secreto-jwt-aqui
JWT_EXPIRATION=24h

# AWS
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=tu-access-key
AWS_SECRET_ACCESS_KEY=tu-secret-key

# Servicios
API_GATEWAY_URL=http://localhost:8080
AUTH_SERVICE_URL=http://localhost:8001

# Desarrollo
NODE_ENV=development
DEBUG=true
LOG_LEVEL=debug
